In [4]:
import pandas as pd

In [15]:
nick = pd.DataFrame({"name":["Nick"], "age":[42], "mood":"tired"})
nick

   age   mood  name
0   42  tired  Nick

In [9]:
may = pd.DataFrame({"name":["May"], "age":[40], "mood":"terrified"})
may

   age       mood name
0   40  terrified  May

In [10]:
camilla = pd.DataFrame({"name":["Camilla"], "age":[17], "mood":"apprehensive"})
camilla

   age          mood     name
0   17  apprehensive  Camilla

In [17]:
teamPy = nick.append(may).append(camilla)
teamPy

   age          mood     name
0   42         tired     Nick
0   40     terrified      May
0   17  apprehensive  Camilla

In [16]:
newTeamPy = teamPy
newTeamPy

   age          mood     name
0   22         tired     Nick
0   40     terrified      May
0   17  apprehensive  Camilla